<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>Controle de Investimentos</title>
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css">
  	<link rel="stylesheet" type="text/css" href="css/app.css">
    <style>
        .jumbotron        { width:100%; height: 580px;}
    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron">
      <div>
        <div class='col-md-1'>
          <img alt="Brand" src="/img/brand_stiled.png">
        </div>
        <div class='col-md-6' style="margin-left: -80px; margin-top: -5px;">
          <h2>Controle de investimentos <h2>
        </div>
        <div class='col-md-5' style="text-align: right; margin-left: 80px;">
          <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Entrar</a>
          <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Registrar</a>
          <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
      </div>



      <div class='col-md-12' style="text-align: left; margin-top: 15px;">
        <h3>Controle todos seus investimentos em um único lugar!</h1>

        <div class='col-md-12' style="margin-top: 40px;">
          <div class='col-md-2'>
            <img width="80" height="80" alt="Renda fixa icon" src="/img/renda_fixa_icon.png">
          </div>
          <div class='col-md-10'>
            <h4>Investimentos de renda fixa e tesouro direto</h4>
          </div>
        </div>
        <div class='col-md-12' style="margin-top: 40px;">
          <div class='col-md-2'>
            <img width="80" height="80" alt="Renda variavel icon" src="/img/renda_variavel_icon.png">
          </div>
          <div class='col-md-10'>
            <h4>Investimentos em renda variável</h4>
          </div>
        </div>
        <div class='col-md-12' style="margin-top: 40px;">
          <div class='col-md-2'>
            <img width="80" height="80" alt="Graficos icon" src="/img/charts_icon.png">
          </div>
          <div class='col-md-10'>
            <h4>Graficos exclusivos dos investimentos e sobre o patrimonio</h4>
          </div>
        </div>
      </div>
    </div>

</div>
</body>
</html>
