	<div class="col-md-8 panel panel-default col-md-offset-2">
	  <div class="panel-heading">
	    <h3 class="panel-title text-center">{{app}}</h3>
	  </div>
	  <div class="panel-body col-md-10 col-md-offset-1" >
	    {{error}}

	    <form name="notaFiscalForm">

	    	<div class="form-group">
			    <label for="data">Data aplicação</label>
				<input class="form-control" type="text" ng-model="notaFiscal.data" name="data" id="data" placeholder="dd/MM/yyyy" required="true" ui-date/>
			</div>

			<div class="alert alert-danger" ng-show="notaFiscalForm.data.$dirty && notaFiscalForm.data.$invalid">
				Data da aplicação é campo obrigatório!
			</div>

			<div class="form-group">
			    <label for="corretora">Corretora</label>
				<select class="form-control" ng-model="notaFiscal.corretora" name="corretora" id="corretora" ng-required="true">
					<option value="">Selecione a corretora</option>
					<option ng-repeat="corretora in corretoras | orderBy:'nome'" value="{{corretora.id}}">{{corretora.nome}}</option>
				</select>
			</div>

			<div class="alert alert-danger" ng-show="notaFiscalForm.corretora.$dirty && notaFiscalForm.corretora.$invalid">
				Corretora é campo obrigatório!
			</div>

			<div class="form-group">
			    <label for="notafiscal">Número nota fiscal</label>
				<input class="form-control" type="text" ng-model="notaFiscal.numero" name="notafiscal" id="notafiscal" placeholder="Nota Fiscal" required="true" ui-integer/>
			</div>

			<div class="alert alert-danger" ng-show="notaFiscalForm.notafiscal.$dirty && notaFiscalForm.notafiscal.$invalid">
				Número da Nota Fiscal é campo obrigatório!
			</div>

			<div class="form-group">
				<table class="table">
					<tr>
						<th class="col-md-2 text-center"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></th>
						<th class="col-md-3 text-center">Ação</th>
						<th class="col-md-2 text-center">Quantidade</th>
						<th class="col-md-3 text-center">Valor Unitário</th>
						<th class="col-md-2 text-center">Venda?</th>
					</tr>

					<tr ng-repeat="negocio in notaFiscal.negocios">
						<td class="text-center">
				        	<input type="checkbox" ng-model="negocio.selecionado"/>
						</td>
						<td>
							<select class="form-control" ng-model="negocio.acao" name="ação" id="ação" ng-options="acao.sigla for acao in acoes | orderBy:'sigla'" ng-required="true">
								<option value="">Ação</option>
							</select>
						</td>
						<td>
							<input class="form-control" type="text" ng-model="negocio.quantidade" name="quantidade" id="quantidade" required="true" ui-integer></input>
						</td>
						<td>
							<div class="input-group">
								<div class="input-group-addon">R$</div>
								<input class="form-control" type="text" ng-model="negocio.valor" name="valor" id="valor" required="true" ui-double/>
							</div>
						</td>
						<td>
							<input class="form-control" type="checkbox" ng-model="negocio.venda" name="venda" id="venda"></input>
						</td>
					</tr>
				</table>
				<a class="btn btn-danger btn-block" ng-click="removerLinhasSelecionadas(notaFiscal.negocios)" ng-if="hasLinhaSelecionada(notaFiscal.negocios)">Remover linha</a>
				<a class="btn btn-primary btn-block" ng-click="adicionarLinha()">Adicionar linha</a>
			</div>

			<div class="form-group">
			    <label for="taxaLiquidacao">Taxa Liquidaçao</label>
			    <div class="input-group">
					<div class="input-group-addon">R$</div>
					<input class="form-control" type="text" ng-model="notaFiscal.liquidacao" name="taxaLiquidacao" id="taxaLiquidacao" placeholder="Taxa liquidacao" required="true" ui-double/>
				</div>
			</div>

			<div class="form-group">
			    <label for="emolumentos">Emolumentos</label>
			    <div class="input-group">
					<div class="input-group-addon">R$</div>
					<input class="form-control" type="text" ng-model="notaFiscal.emolumentos" name="emolumentos" id="emolumentos" placeholder="Emolumentos" required="true" ui-double/>
				</div>
			</div>

			<div class="form-group">
			    <label for="corretagem">Corretagem</label>
			    <div class="input-group">
					<div class="input-group-addon">R$</div>
					<input class="form-control" type="text" ng-model="notaFiscal.corretagem" name="corretagem" id="corretagem" placeholder="Corretagem" required="true" ui-double/>
				</div>
			</div>

			<div class="form-group">
			    <label for="iss">ISS</label>
			    <div class="input-group">
					<div class="input-group-addon">R$</div>
					<input class="form-control" type="text" ng-model="notaFiscal.iss" name="iss" id="iss" placeholder="ISS" required="true" ui-double/>
				</div>
			</div>
		</form>

		<button class="btn btn-primary btn-block" ng-click="confirmarRegistro(notaFiscal)" ng-disabled="notaFiscalForm.$invalid">
			Adicionar aplicação
		</button>
	</div>
