	<div class="col-md-8 panel panel-default col-md-offset-2">
	  <div class="panel-heading">
	    <h3 class="panel-title text-center">{{app}}</h3>
	  </div>
	  <div class="panel-body col-md-10 col-md-offset-1" >
	    {{error}}

	    <form name="aplicacaoForm">

	    	<div class="form-group">
			    <label for="tipoAplicacao">Tipo Aplicação</label>
				<select class="form-control" ng-model="aplicacao.tipoAplicacao" name="tipoAplicacao" id="tipoAplicacao" ng-required="true">
					<option value="">Selecione o tipo da aplicacao</option>
					<option ng-repeat="tipo in tiposAplicacao | orderBy:'nome'" value="{{tipo.id}}">{{tipo.nome}}</option>
				</select>
			</div>

			<div class="alert alert-danger" ng-show="aplicacaoForm.tipoAplicacao.$dirty && aplicacaoForm.tipoAplicacao.$invalid">
				Tipo da aplicação é campo obrigatório!
			</div>

			<div class="form-group">
			    <label for="corretora">Corretora</label>
					<select class="form-control" ng-model="aplicacao.corretora" name="corretora" id="corretora" ng-required="true">
						<option value="">Selecione a corretora</option>
						<option ng-repeat="corretora in corretoras | orderBy:'nome'" value="{{corretora.id}}">{{corretora.nome}}</option>
					</select>
			</div>

			<div class="alert alert-danger" ng-show="aplicacaoForm.corretora.$dirty && aplicacaoForm.corretora.$invalid">
				Corretora é campo obrigatório!
			</div>

			<div class="alert alert-danger" ng-show="aplicacaoForm.periodo.$dirty && aplicacaoForm.periodo.$invalid">
				Por favor, preencha o campo Periodo!
			</div>

			<div class="form-group">
				<label for="periodo">Taxa Contratada</label>
				<div class="form-inline">
					<div class="form-group input-group" style="width:50%">
					    <input class="form-control" type="text" ng-model="aplicacao.taxa" name="taxa "placeholder="Taxa contratada" ng-required="true" ui-integer>
					    <div class="input-group-addon">%</div>
					</div>
					<div class="form-group" style="width:48%">
						<select class="form-control" ng-model="aplicacao.indexador" name="indexador" id="indexador" ng-required="true">
							<option value="">Selecione o indexador</option>
							<option ng-repeat="indexador in indexadores | orderBy:'nome'" value="{{indexador.id}}">{{indexador.nome}}</option>
						</select>
					</div>
				</div>
			</div>

			<div class="alert alert-danger" ng-show="aplicacaoForm.taxa.$dirty && aplicacaoForm.taxa.$invalid">
				Taxa contratada é campo obrigatório!
			</div>

			<div class="alert alert-danger" ng-show="aplicacaoForm.indexador.$dirty && aplicacaoForm.indexador.$invalid">
				Indexador é campo obrigatório!
			</div>

			<div class="form-group">
				<label for="periodo">Valor Investido</label>
				<div class="input-group">
					<div class="input-group-addon">R$</div>
					<input class="form-control" type="text" ng-model="aplicacao.valor" name="valor" id="valor" placeholder="Valor Investido" required="true" ui-double/>
				</div>
			</div>

			<div class="alert alert-danger" ng-show="aplicacaoForm.valor.$dirty && aplicacaoForm.valor.$invalid">
				Valor Investido é campo obrigatório!
			</div>

			<div class="form-group">
			    <label for="data">Data aplicação</label>
				<input class="form-control" type="text" ng-model="aplicacao.data" name="data" id="data" placeholder="dd/MM/yyyy" required="true" ui-date/>
			</div>

			<div class="alert alert-danger" ng-show="aplicacaoForm.data.$dirty && aplicacaoForm.data.$invalid">
				Data aplicação é campo obrigatório!
			</div>

			<div class="form-group">
			    <label for="data">Vencimento</label>
				<input class="form-control" type="text" ng-model="aplicacao.vencimento" name="vencimento" id="vencimento"
				 placeholder="dd/MM/yyyy" required="true" ui-date/>
			</div>
			<div class="alert alert-danger" ng-show="aplicacaoForm.vencimento.$dirty && aplicacaoForm.vencimento.$invalid">
				Vencimento é campo obrigatório!
			</div>
		</form>

		<button class="btn btn-primary btn-block" ng-click="adicionarAplicacao(aplicacao)" ng-disabled="aplicacaoForm.$invalid">
			Adicionar aplicação
		</button>
	</div>
