	<div class="col-md-8 panel panel-default col-md-offset-2">
	  <div class="panel-heading">
	    <h3 class="panel-title text-center">{{app}}</h3>
	  </div>
	  <div class="panel-body">
	    {{error}}

		<form name="acaoForm">
			<input class="form-control" type="text" ng-model="acao.sigla" name="sigla" placeholder="Sigla" ng-required="true" ng-pattern="/^[A-Z]{4}\d{1,2}$/"> </input>
			<input class="form-control" type="text" ng-model="acao.nome" name="nome "placeholder="Nome Empresa" ng-required="true" minlength="5"> </input>
		</form>

		<div ng-show="acaoForm.sigla.$dirty && acaoForm.sigla.$invalid" ng-messages="acaoForm.sigla.$error" class="alert alert-danger">
			<div ng-message="required">
				Por favor, preencha o campo Sigla!
			</div>
			<div ng-message="pattern">
				A sigla deve estar no seguinte padrao: xxxxD
			</div>
		</div>

		<div ng-show="acaoForm.nome.$dirty && acaoForm.nome.$invalid" ng-messages="acaoForm.nome.$error" class="alert alert-danger">
			<div ng-message="required">
				Por favor, preencha o campo Nome da empresa!
			</div>
			<div ng-message="minlength">
				O nome da empresa deve ter no mínimo 5 caracteres!
			</div>
		</div>

		<button class="btn btn-primary btn-block" ng-click="salvarAcao(acao)" ng-disabled="acaoForm.$invalid">
			Adicionar ação.
		</button>
	  </div>
	</div>
