<div class="col-md-8 panel panel-default col-md-offset-2">
	<div class="panel-heading">
		<h3 class="panel-title text-center">{{app}}</h3>
	</div>
	<div class="panel-body">
		{{error}}

		<form name="corretoraForm">
			<input class="form-control" type="text" ng-model="corretora.nome" name="nome "placeholder="Nome corretora" ng-required="true"> </input>
			<input class="form-control" type="text" ng-model="corretora.cnpj" name="nome "placeholder="CNPJ"> </input>
		</form>
		
		<div ng-show="corretoraForm.nome.$dirty && corretoraForm.nome.$invalid" ng-messages="corretoraForm.nome.$error" class="alert alert-danger">
			<div ng-message="required">
				Por favor, preencha o campo nome da corretora!
			</div>
		</div>

		<button class="btn btn-primary btn-block" ng-click="salvarCorretora(corretora)" ng-disabled="corretoraForm.$invalid">
			Salvar corretora
		</button>
	</div>
</div>
