	<div class="col-md-8 panel panel-default col-md-offset-2">
	  <div class="panel-heading">
	    <h3 class="panel-title text-center">{{app}}</h3>
	  </div>
	  <div class="panel-body">
	    {{error}}

		<div>
			<table class="table">
				<tr>
					<th>Sigla ação</th>
					<th>Valor Total</th>
					<th>Corretagem</th>
				</tr>
				<tr ng-repeat="negocio in notaFiscal.negocios">

					<td><input class="form-control" type="text" ng-model="negocio.acao.sigla" name="sigla" ng-readonly="true"/></td>
					<td>
						<div class="input-group">
							<div>{{negocio.valorTotal | currency}}</div>
						</div>
					</td>
					<td>
						<div class="input-group">
							<div>{{negocio.corretagem | currency}}</div>
						</div>
					</td>
				</tr>
			</table>

			<hr/>
		</div>

		<div class="form-group">
			<label>Taxa Liquidacao: <strong>{{notaFiscal.liquidacao  | currency}}</strong></label>
		</div>
		<div class="form-group">
			<label>Emolumentos: <strong>{{notaFiscal.emolumentos  | currency}}</strong></label>
		</div>
		<div class="form-group">
			<label>Corretagem: <strong>{{notaFiscal.corretagem  | currency}}</strong></label>
		</div>
		<div class="form-group">
			<label>ISS: <strong>{{notaFiscal.iss  | currency}}</strong></label>
		</div>
		<div class="form-group">
			<label>Valor Total: <strong>{{notaFiscal.valorTotal  | currency}}</strong></label>
		</div>

		<button class="btn btn-danger btn-block" ng-click="cancel()">
			Cancelar dados.
		</button>

		<button class="btn btn-primary btn-block" ng-click="ok()">
			Confirmar dados.
		</button>
	  </div>
	</div>
