	<div class="col-md-8 panel panel-default col-md-offset-2">
	  <div class="panel-heading">
	    <h3 class="panel-title text-center">{{app}}</h3>
	  </div>
	  <div class="panel-body">
	    {{error}}

			<div ng-show="{{consolidado.rendaFixa.valorTotal > 0 || consolidado.rendaVariavel.valorTotal > 0}}">
				<div id="consolidadoGeral" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
				<hr/>
			</div>
			<div ng-show="{{consolidado.rendaFixa.valorTotal > 0}}">
				<div id="consolidadoRendaFixa" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
				<hr/>
			</div>
			<div ng-show="{{consolidado.rendaVariavel.valorTotal > 0}}">
				<div id="consolidadoRendaVariavel" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
			</div>
		</div>
	</div>
