	<div class="col-md-8 panel panel-default col-md-offset-2">
	  <div class="panel-heading">
	    <h3 class="panel-title text-center">{{app}}</h3>
	  </div>
	  <div class="panel-body">
	    {{error}}

			<div class="form-group">
				<label>Ação: <strong>{{acao.siglaAcao}}</strong></label>
			</div>
			<div class="form-group">
				<label>Quantidade: <strong>{{acao.quantidade | number:0}}</strong></label>
			</div>
			<div class="form-group">
				<label>Preço médio: <strong>{{ultimoPrecoMedio | currency}}</strong></label>
			</div>
			<div>
				<table class="table">
					<tr>
						<th class="text-center">Data</th>
						<th class="text-center">Quantidade</th>
						<th class="text-center">Valor</th>
						<th class="text-center">Custo</th>
						<th class="text-center">Acumulado</th>
						<th class="text-center">Preco Medio</th>
					</tr>
					<tr ng-repeat="compra in compras" class="text-center {{compra.venda? 'warning' : 'success'}}">

						<td><spam>{{compra.data | date:'dd/MM/yyyy'}}</spam></td>
  					<td><spam>{{compra.quantidade | number:0}}</spam></td>
						<td><spam>{{compra.valor | currency}}</spam></td>
						<td><spam>{{compra.corretagem | currency}}</spam></td>
						<td><spam>{{compra.acumulado | number:0}}</spam></td>
						<td><spam>{{compra.precoMedio | currency}}</spam></td>
					</tr>
				</table>
			</div>
	  </div>
	</div>
