<div class="col-md-8 panel panel-default col-md-offset-2">
	<div class="panel-heading">
		<h3 class="panel-title text-center">{{app + (impostoRenda? (" ano base " + anoBase) : "")}} </h3>
	</div>
	<div class="panel-body">
		{{error}}

		<div ng-show="!impostoRenda">
      <form name="irAcoesForm">
        <select class="form-control" ng-model="anoBase" name="anobase" id="anobase" ng-required="true">
          <option value="">Selecione o ano base</option>
          <option ng-repeat="ano in anosDisponiveis" value="{{ano}}">{{ano}}</option>
        </select>
      </form>

      <button class="btn btn-primary btn-block" ng-click="gerarImpostoRenda(anoBase)"
        ng-disabled="irAcoesForm.$invalid">
  			Gerar relatório
  		</button>
		</div>

    <div ng-show="impostoRenda">
      <div>
        <table class="table table-striped text-center">
					<tr>
						<th class="text-center">Ação</th>
						<th class="text-center">Nome</th>
						<th class="text-center">Quantidade</th>
						<th class="text-center">ValorTotal</th>
					</tr>
					<tr ng-repeat="acao in impostoRenda">
						<td><spam>{{acao.sigla}}</spam></td>
            <td><spam>{{acao.nome}}</spam></td>
  					<td><spam>{{acao.quantidade | number:0}}</spam></td>
						<td><spam>{{acao.valorTotal | currency}}</spam></td>
					</tr>
				</table>
			</div>
    </div>
	</div>
