<div class="col-md-8 panel panel-default col-md-offset-2">
	<div class="panel-heading">
		<h3 class="panel-title text-center">{{app}}</h3>
	</div>
	<div class="panel-body">
		{{error}}

		<div>
			<div class="text-right">
				<a href="" ng-click="cadastrarCorretora()" class="glyphicon glyphicon-plus"></a>
			</div>
			<table class="table">
				<tr>
					<th class="text-center col-md-4"><a href="" ng-click="ordenarPor('nome')"/>Nome corretora</th>
					<th class="text-center col-md-4"><a href="" ng-click="ordenarPor('dataCadastro')"/>Data Cadastro</th>
					<th class="text-center col-md-4"><a href="" ng-click="ordenarPor('cnpj')"/>CNPJ</th>
				</tr>
				<tr class="text-center" ng-repeat="corretora in corretoras | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao">
					<td>{{corretora.nome}}</td>
					<td>{{corretora.dataCadastro | date:'dd/MM/yyyy'}}</td>
					<td>{{corretora.cnpj}}</td>
				</tr>
			</table>

			<hr/>
		</div>
	</div>
</div>
