<div class="col-md-8 panel panel-default col-md-offset-2">
	<div class="panel-heading">
		<h3 class="panel-title text-center">{{app}}</h3>
	</div>
	<div class="panel-body">
		{{error}}

		<div class="text-right">
			<a href="" ng-click="cadastrarAcao()" class="glyphicon glyphicon-plus"></a>
		</div><br/>
		<div>
			<input class="form-control" type="text" ng-model="criterioDeBusca" placeholder="Digite o nome da Ação:"></input>
			<table class="table">
				<tr>
					<th class="text-center"><a href="" ng-click="ordenarPor('sigla')"/>Sigla ação</th>
					<th class="text-center"><a href="" ng-click="ordenarPor('nome')"/>Nome empresa</th>
					<th class="text-center"><a href="" ng-click="ordenarPor('dataCadastro')"/>Data Cadastro</th>
					<th class="text-center"><a href="" ng-click="ordenarPor('dataUltimaCompra')"/>Data Ultima compra</th>

				</tr>
				<tr class="text-center" ng-repeat="acao in acoes  | filter:{nome:criterioDeBusca} | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao">
					<td>{{acao.sigla}}</td>
					<td>{{acao.nome}}</td>
					<td>{{acao.dataCadastro | date:'dd/MM/yyyy'}}</td>
					<td>{{acao.dataUltimaCompra | date:'dd/MM/yyyy'}}</td>

				</tr>
			</table>

			<hr/>
		</div>
	</div>
