	<div class="col-md-8 panel panel-default col-md-offset-2">
	  <div class="panel-heading">
	    <h3 class="panel-title text-center">{{app}}</h3>
	  </div>
	  <div class="panel-body">
	    {{error}}

			<div class="form-group">
				<input class="form-control" type="text" ng-model="criterioDeBusca" placeholder="Digite o nome da aplicação:"/>
			</div>

			<accordion close-others="false">
					<div ng-repeat="acao in acoes">
							<accordion-group heading="Ação: {{acao.siglaAcao}}" panel-class="panel-default col-md-4">
								<p>Quantidade: {{acao.quantidade - acao.vendidas | number:0}}</p>
								<p>Ultima Compra: {{acao.dataUltimaCompra | date:'dd/MM/yyyy'}}</p>

								<a ng-click="detalhamentoAcao(acao)" class="btn btn-primary btn-block">Detalhamento</a>
							</accordion-group>
					</div>
			</accordion>
		</div>
	</div>
