<div class="col-md-8 panel panel-default col-md-offset-2">
	<div class="panel-heading">
		<h3 class="panel-title text-center">{{app}}</h3>
	</div>
	<div class="panel-body">
		{{error}}

		<div>
			<table class="table">
				<tr>
					<th class="text-center"><a href="" ng-click="ordenarPor('tipoAplicacao.nome')"/>Tipo Aplicação	</th>
					<th class="text-center"><a href="" ng-click="ordenarPor('corretora.nome')"/>Corretora</th>
					<th class="text-center"><a href="" ng-click="ordenarPor('taxa')"/>Taxa Contratada</th>
					<th class="text-center"><a href="" ng-click="ordenarPor('indexador.nome')"/>Indexador</th>
					<th class="text-center"><a href="" ng-click="ordenarPor('valor')"/>Valor Investido</th>
					<th class="text-center"><a href="" ng-click="ordenarPor('data')"/>Data Aplicação</th>
					<th class="text-center"><a href="" ng-click="ordenarPor('vencimento')"/>Vencimento</th>
				</tr>

				<tr class="text-center" ng-repeat="aplicacao in aplicacoes | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao">
					<td>{{aplicacao.tipoAplicacao.nome}}</td>
					<td>{{aplicacao.corretora.nome}}</td>
					<td>{{aplicacao.taxa | number:2}}%</td>
					<td>{{aplicacao.indexador.nome}}</td>
					<td>{{aplicacao.valor | currency}}</td>
					<td>{{aplicacao.data | date:'dd/MM/yyyy'}}</td>
					<td>{{aplicacao.vencimento | date:'dd/MM/yyyy'}}</td>
				</tr>
			</table>
		</div>
		<a href="#/aplicacaoRendaFixa" class="btn btn-primary btn-block"> Adicionar nova aplicacao </a>
	</div>
</div>
