<nav class="navbar navbar-inverse">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <a class="navbar-brand">
					<img alt="Brand" src="/img/brand_stiled.png">
				</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <li><a href="#/consolidado">Consolidado</a></li>
	        <li class="dropdown">
	          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cadastro<span class="caret"></span></a>
	          <ul class="dropdown-menu">
	            <li><a href="#/listaAcao">Ações</a></li>
							<li><a href="#/listaCorretora">Corretora</a></li>
	          </ul>
	        </li>
	        <li class="dropdown">
	          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Nova aplicacao<span class="caret"></span></a>
	          <ul class="dropdown-menu">
	            <li><a href="#/aplicacaoRendaFixa">Renda Fixa</a></li>
	            <li><a href="#/aplicacaoRendaVariavel">Renda Variável</a></li>
	            <li><a href="#/simulacaoRendaFixa">Simulação Renda Fixa</a></li>
	          </ul>
	        </li>
	        <li class="dropdown">
	          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Meus Investimentos<span class="caret"></span></a>
	          <ul class="dropdown-menu">
	            <li><a href="#/minhaRendaFixa">Renda Fixa</a></li>
	            <li><a href="#/minhaRendaVariavel">Renda Variável</a></li>
	            <li role="separator" class="divider"></li>
							<li><a href="#/irAcoes">Imposto Renda (ações)</a></li>
	          </ul>
	        </li>
	      </ul>


	      <ul class="nav navbar-nav navbar-right">
	        <li><a href="/logout">Logout</a></li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
