<div class="col-md-12 panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title text-center">{{app}}</h3>
	</div>
	<div class="panel-body">
		{{error}}

		<div>
			<table class="table">
				<tr>
					<th class="text-center">Investimento</th>
					<th class="text-center">Valor Bruto</th>
					<th class="text-center">Imposto de Renda</th>
					<th class="text-center">Valor Líquido</th>
				</tr>
				<tr ng-repeat="resultado in resultadoSimulacao | orderBy: 'valorLiquido':true" class="text-center">
					<td>{{resultado.nome}}</td>
					<td>{{resultado.valorBruto | currency}}</td>
					<td>{{resultado.impostoRenda | currency}}</td>
					<td>{{resultado.valorLiquido | currency}}</td>
				</tr>
			</table>
		</div>
	</div>
</div>
