	<div class="col-md-8 panel panel-default col-md-offset-2">
	  <div class="panel-heading">
	    <h3 class="panel-title text-center">{{app}}</h3>
	  </div>
	  <div class="panel-body col-md-10 col-md-offset-1" >
	    {{error}}

	    <form name="simulacaoForm">
			<div class="form-group">
				<label for="valor">Valor a simular</label>
				<div class="input-group">
					<div class="input-group-addon">R$</div>
					<input class="form-control" type="text" ng-model="simulacao.valor" name="valor" id="valor" placeholder="Valor" required="true" ui-double/>
				</div>
			</div>

			<div class="alert alert-danger" ng-show="simulacaoForm.valor.$dirty && simulacaoForm.valor.$invalid">
				Valor a simular é campo obrigatório!
			</div>

			<div class="form-group">
				<label for="selic">Selic</label>
				<div class="input-group">
					<input class="form-control" type="text" ng-model="simulacao.selic" name="selic" id="selic" placeholder="Selic" required="false" ui-double/>
					<div class="input-group-addon">%</div>
				</div>
			</div>

			<div class="form-group">
				<label for="cdi">CDI</label>
				<div class="input-group">
					<input class="form-control" type="text" ng-model="simulacao.cdi" name="cdi" id="cdi" placeholder="CDI" required="false" ui-double/>
					<div class="input-group-addon">%</div>
				</div>
			</div>

			<div class="form-group">
				<label for="periodo">Periodo</label>
				<div class="input-group">
					<input class="form-control" type="text" ng-model="simulacao.periodo" name="periodo" id="periodo" placeholder="periodo" required="false" ui-integer/>
					<div class="input-group-addon">dias</div>
				</div>
			</div>

	    	<div class="form-group">
					<table class="table">
						<tr>
							<th class="col-md-1 text-center"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></th>
							<th class="col-md-2">Tipo</th>
							<th class="col-md-3">Taxa Contratada</th>
							<th class="col-md-3">Indexador</th>
							<th class="col-md-3">Taxa Intermediação</th>
						</tr>

						<tr ng-repeat="simulacao in simulacao.aplicacoes">
							<td class="text-center">
					        	<input type="checkbox" ng-model="simulacao.selecionado"></input>
							</td>
							<td>
								<select class="form-control" ng-model="simulacao.tipoAplicacao" name="tipoAplicacao" id="tipoAplicacao" ng-options="tipo.nome  for tipo in tiposAplicacao | orderBy:'nome'" ng-required="true">
									<option value=""> Tipo </option>
								</select>
							</td>
							<td>
								<div class="input-group">
								    <input class="form-control" type="text" ng-model="simulacao.taxa" name="taxa "placeholder="Taxa" ng-required="true" ui-double> </input>
								    <div class="input-group-addon">%</div>
								</div>
							</td>
							<td>
								<div class="form-group">
									<select class="form-control" ng-model="simulacao.indexador" name="indexador" ng-options="indexador.nome for indexador in indexadores | orderBy:'nome'" ng-required="true">
										<option value="">Indexador</option>
									</select>
								</div>
							</td>
							<td>
								<div class="input-group">
									<div class="input-group-addon">R$</div>
								    <input class="form-control" type="text" ng-model="simulacao.taxaIntermediacao" name="taxa intermediacao "placeholder="Taxa" ng-required="false" ui-double> </input>
								</div>
							</td>
						</tr>
					</table>

					<a class="btn btn-danger btn-block" ng-click="apagarLinha(simulacao.aplicacoes)" ng-if="hasLinhaSelecionada(simulacao.aplicacoes)">Apagar linha</a>
					<a class="btn btn-primary btn-block" ng-click="adicionarLinha()">Adicionar linha</a>
			</div>

			<div class="form-group">
				<button class="btn btn-info btn-block" ng-click="simular(simulacao)" ng-disabled="simulacaoForm.$invalid">
					Simular
				</button>
			</div>

		</form>


	</div>
