.jumbotron
{
	width: 800px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}
.table
{
	margin-top: 20px;
}
.form-control
{
	margin-botton: 5px;
}
.selecionado
{
	background-color: yellow;
}

.footer
{
	text-align: center;
	background-color: #222;
	color: #FFF;
	position: fixed;
	bottom: 0px;
	width: 100%;
	z-index: 10;
}

.navbar-brand img
{
	width: 35px;
	margin-top:-7px;
	margin-left: -7px;
}
